<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Horarios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
	<h1 class="mb-4">Listado de Horarios</h1>
	<table class="table table-striped table-bordered">
		<thead>
		<tr>
			<th>Código</th>
			<th>Día</th>
			<th>Hora Inicio</th>
			<th>Hora Fin</th>
			<th>Barbero</th>
			<th>Acciones</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="horario : ${horarioList}">
			<td th:text="${horario.idHorario}"></td>
			<td th:text="${horario.diaSemana}"></td>
			<td th:text="${horario.horaInicio}"></td>
			<td th:text="${horario.horaFin}"></td>
			<td th:text="${horario.barbero.nombreBarbero}"></td>
			<td>
				<a th:href="@{/edit-horario/{id}(id=${horario.idHorario})}" class="btn btn-primary btn-sm">Editar</a>
				<a th:href="@{/view-horario/{id}(id=${horario.idHorario})}" class="btn btn-warning btn-sm">Ver</a>
				<a th:href="@{/remove-horario/{id}(id=${horario.idHorario})}" class="btn btn-danger btn-sm">Eliminar</a>
			</td>
		</tr>
		</tbody>
	</table>
	<a th:href="@{/new-horario}" class="btn btn-success">Nuevo Horario</a>
	<a th:href="@{/}" class="btn btn-secondary">Inicio</a>
</div>
</body>
</html>