<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Barbería</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Sistema de Gestión de Barbería</h1>
        <div class="row g-3 justify-content-center">

            <div class="col-md-3">
                <a href="/barbero-list" class="btn btn-primary w-100">Barberos</a>
            </div>

            <div class="col-md-3">
                <a href="/cliente-list" class="btn btn-primary w-100">Clientes</a>
            </div>

            <div class="col-md-3">
                <a href="/servicio-list" class="btn btn-primary w-100">Servicios</a>
            </div>

            <div class="col-md-3">
                <a href="/cita-list" class="btn btn-primary w-100">Citas</a>
            </div>

            <div class="col-md-3">
                <a href="/horario-list" class="btn btn-primary w-100">Horarios</a>
            </div>

            <div class="col-md-3">
                <a href="/pago-list" class="btn btn-primary w-100">Pagos</a>
            </div>
			
			<div class="col-md-3">
                <a href="/consulta-horarios-barbero" class="btn btn-primary w-100">Consulta de Horarios por Barbero</a>
            </div>
            
            <div class="col-md-3">
                <a th:href="@{/consulta-historial-citas}" class="btn btn-primary w-100">Consultar Historial de Citas</a>

            </div>
            
        </div>
    </div>
</body>
</html>